body {
  background-color: #f8f9fa;
}

/* .form-container {
  box-shadow: 5px 5px 0px #9ba5a02c;
} */

form input {
  background: #f8f9fa !important;
  border-bottom: 1px solid #a2abb3 !important;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

form input:focus {
  background: #f1f2f6 !important;
  outline: transparent;
  border-bottom: 1px solid #212529 !important;
}

.navlink:hover {
  color: #212529;
  /* color: #05b851; */
  transition: all 0.4s ease;
}

.gallery-image{
  cursor: pointer;
}

.overview {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .2);
  z-index: 9999;
}

.inner-overview {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inner-overview h3{
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  cursor: pointer;
}

.overview .inner-overview img{
  width: 30rem;
  height: 30rem;
}

@media screen and (max-width: 335px) {
  .event-head {
    position: relative;
    bottom: 3rem;
  }
}
