body {
  background-color: #f8f9fa;
}

/* .form-container {
  box-shadow: 5px 5px 0px #9ba5a02c;
} */

form input {
  background: #f8f9fa !important;
  border-bottom: 1px solid #a2abb3 !important;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}

form input:focus {
  background: #f1f2f6 !important;
  outline: transparent;
  border-bottom: 1px solid #212529 !important;
}

.navlink:hover {
  color: #212529;
  /* color: #05b851; */
  transition: all 0.4s ease;
}

@media screen and (max-width: 335px) {
  .event-head {
    position: relative;
    bottom: 3rem;
  }
}
