@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-size: 25px !important;
  --swiper-theme-color: #000 !important;
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-poppins;
}

.swiper {
  padding: 0 20px !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0px !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0 !important;
}

@layer utilities {
  .event__title {
    @apply text-xl md:text-2xl font-bold;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1025px;
  }
}
