@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins;
}

@layer utilities {
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }
}
